{% extends "OxygenSalleDeSportBundle:Default:profile.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block newUserform %}

    <form action="{{ path('oxygen_salle_de_sport_profile_add_new_trainer') }}" method="post" {{ form_enctype(form) }}>
        <table>
            <tr>
                <td style="width: 100px;">{{ form_label(form.username) }}</td>
                <td>{{ form_widget(form.username) }}</td>
            </tr>
            <tr>
                <td style="width: 100px;">{{ form_label(form.email) }}</td>
                <td>{{ form_widget(form.email) }}</td>
            </tr>
            <tr>
                <td style="width: 100px;">{{ form_label(form.password) }}</td>
                <td>{{ form_widget(form.password) }}</td>
            </tr>
            <tr>
                <td style="width: 100px;">{{ form_label(form.firstName) }}</td>
                <td>{{ form_widget(form.firstName) }}</td>
            </tr>
            <tr>
                <td style="width: 100px;">{{ form_label(form.lastName) }}</td>
                <td>{{ form_widget(form.lastName) }}</td>
            </tr>
            <tr>
                <td style="width: 100px;">{{ form_label(form.age) }}</td>
                <td>{{ form_widget(form.age) }}</td>
            </tr>
        </table>
        <input type="submit" />
    </form>

{% endblock newUserform %}
