<!DOCTYPE HTML>
<html>
    <head>
        <title>Free Gym Website Template | Home :: w3layouts</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/oxygensalledesport/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
            <link href="{{ asset('bundles/oxygensalledesport/css/style.css') }}" rel='stylesheet' type='text/css' />
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
        {% block javascripts %}
            <script src="{{ asset('bundles/oxygensalledesport/js/jquery.min.js') }}"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $(".scroll").click(function (event) {
                        event.preventDefault();
                        $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
                    });
                });
            </script>
            <!-- grid-slider -->
            <script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/jquery.mousewheel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/jquery.contentcarousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/jquery.easing.1.3.js') }}"></script>
            <!-- //grid-slider -->
        {% endblock %}
    </head>
    <body>
        <!-- start header_top -->
        <div class="header">
            <div class="container">
                {% block formulaire %}
                {% endblock %}
                <div class="header-arrow">
                    <a href="#menu" class="class scroll"><span> </span </a>
                </div>
            </div>
        </div>
        <!-- end header_top -->
        <!-- start header_bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom_left">
                    <i class="phone"> </i><span>+216 99 891 600</span> |  <span>+216 58 811 611</span> |  <span>+216 26 655 225</span>
                </div>
                <div class="social">	
                    <ul>	
                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/Oxygen-Fitness-Siliana-537014242988201/?fref=ts" ><span> </span></a></li>						
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- end header_bottom -->
        <!-- start menu -->
        <div class="menu" id="menu">
            <div class="container">
                <div class="logo">
                    <img src="{{ asset('bundles/oxygensalledesport/images/logo.png') }}" style="width: 40px; margin-left: 50px;" alt=""/>
                </div>
                <div class="h_menu4"><!-- start h_menu4 -->
                    <a class="toggleMenu" href="#">Menu</a>
                    <ul class="nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="trainers.html">Trainers</a></li>
                        <li><a href="classes.html">Classes</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/nav.js') }}"></script>
                </div><!-- end h_menu4 -->
                <div class="clear"></div>
            </div>
        </div>
        <!-- end menu -->
        <div class="main">
            <div class="container">
                <!-- start content-top -->
                <div class="row content-top">
                    <div class="col-md-5">
                        <img src="{{ asset('bundles/oxygensalledesport/images/pic.png') }}" class="img-responsive') }}" alt=""/> 
                    </div>
                    <div class="col-md-7 content_left_text">
                        <h3>Oxygen Fitness Club</h3>
                        <p>We took such care of tomorrow. </p>
                    </div>
                </div>
            </div>
            <!-- end content-top -->
            <div class="container">
                
                <div class="row about">
                    <div class="col-md-8">
                        <h3 class="m_2">All Classes</h3>
                        <div class="classes">
                            <div class="cardio_list">
                                <div class="cardio_sublist">
                                    <ul class="cardio">
                                        <li><i class="clock"> </i><span>Cardio Fitness</span></li>
                                    </ul>
                                    <div class="social-media">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="cardio_sublist">
                                    <ul class="cardio">
                                        <li><i class="clock"> </i><span>Body Building</span></li>
                                    </ul>
                                    <div class="social-media">
                                        <ul> </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="cardio_sublist">
                                    <ul class="cardio">
                                        <li><i class="clock"> </i><span>Karate</span></li>
                                    </ul>
                                    <div class="social-media">
                                        <ul> </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="cardio_list1">
                                <div class="cardio_sublist">
                                    <ul class="cardio">
                                        <li><i class="clock"> </i><span>Aerobics</span></li>
                                    </ul>
                                    <div class="social-media">
                                        <ul></ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="cardio_sublist">
                                    <ul class="cardio">
                                        <li><i class="clock"> </i><span>Kik Boxing</span></li>
                                    </ul>
                                    <div class="social-media">
                                        <ul> </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="cardio_sublist">
                                    <ul class="cardio">
                                        <li><i class="clock"> </i><span>CrossFit</span></li>
                                    </ul>
                                    <div class="social-media">
                                        <ul> </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="cardio_sublist">
                                    <ul class="cardio">
                                        <li><i class="clock"> </i><span>Zomba</span></li>
                                    </ul>
                                    <div class="social-media">
                                        <ul> </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row content_middle_bottom">
                    <div class="col-md-4">
                        <h3 class="m_2">Our Trainers</h3>
                        <div class="course_demo">
                            <ul id="flexiselDemo3">	
                                <li><img src="{{ asset('bundles/oxygensalledesport/images/pic5.jpg') }}" /><div class="desc">
                                        <h3>Tarek Abbassi<br><span class="m_text">Karate Trainer</span></h3>
                                         <div class="coursel_list">
                                            <a target="_blank" href="https://www.facebook.com/tarek.abbassi.940?fref=ts" ><i class="heart2"> </i></a>
                                            <a target="_blank" href="https://www.facebook.com/tarek.abbassi.940?fref=ts" >
                                        </div>
                                        <div class="coursel_list1">
                                            <a target="_blank" href="https://www.facebook.com/tarek.abbassi.940?fref=ts" ><i class="fb"> </i></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div></li>	
                                <li><img src="{{ asset('bundles/oxygensalledesport/images/pic4.jpg') }}" /><div class="desc">
                                        <h3>Ahmed Hassan<br><span class="m_text">Karate Trainer</span></h3>
                                        <div class="coursel_list">
                                            <a target="_blank" href="https://www.facebook.com/ahmedmsikt?fref=ts" ><i class="heart2"> </i></a>
                                            <a target="_blank" href="https://www.facebook.com/ahmedmsikt?fref=ts" >
                                        </div>
                                        <div class="coursel_list1">
                                            <a target="_blank" href="https://www.facebook.com/ahmedmsikt?fref=ts" ><i class="fb"> </i></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div></li>	
                                <li><img src="{{ asset('bundles/oxygensalledesport/images/pic3.jpg') }}" /><div class="desc">
                                        <h3>Hamza Ayari<br><span class="m_text">Karate</span></h3>
                                       <div class="coursel_list">
                                            <a target="_blank" href="https://www.facebook.com/hamza.ayari.52012?fref=ts" ><i class="heart2"> </i></a>
                                            <a target="_blank" href="https://www.facebook.com/hamza.ayari.52012?fref=ts" >
                                        </div>
                                        <div class="coursel_list1">
                                            <a target="_blank" href="https://www.facebook.com/hamza.ayari.52012?fref=ts" ><i class="fb"> </i></a>
                                        </div>
                                        <div class="clear"></div>
                                    </div></li>							    	  	       	   	    	
                            </ul>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo3").flexisel({
                                        visibleItems: 4,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 3000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 2
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 2
                                            }
                                        }
                                    });

                                });
                            </script>
                            <script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/jquery.flexisel.js') }}"></script>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                        <h3 class="m_2">Facebook</h3>
                        <div class="blog_events">
                            <ul class="tab-left1">
                                <span class="tab1-img"><img src="{{ asset('bundles/oxygensalledesport/images/pic16.jpg') }}" alt=""></span>
                                <div class="tab-text1">
                                    <p><a target="_blank" href="https://www.facebook.com/photo.php?fbid=1686207588310919&set=a.1484761471788866.1073741830.100007650823464&type=3&theater" >Training for the championship</a></p>
                                    <span class="m_date">21 Mars, 2016</span>
                                </div>
                                <div class="clear"></div>
                            </ul>
                            <ul class="tab-left1">
                                <span class="tab1-img"><img src="{{ asset('bundles/oxygensalledesport/images/pic6.jpg') }}" alt=""></span>
                                 <div class="tab-text1">
                                    <p><a target="_blank" href="https://www.facebook.com/Oxygen-Fitness-Siliana-537014242988201/?fref=ts" >No Pain No Gain</a></p>
                                    <span class="m_date">21 Mars, 2016</span>
                                </div>
                                <div class="clear"></div>
                            </ul>
                            <ul class="tab-last1">
                                <span class="tab1-img"><img src="{{ asset('bundles/oxygensalledesport/images/pic8.jpg') }}" alt=""></span>
                                <div class="tab-text1">
                                    <p><a target="_blank" href="https://www.facebook.com/permalink.php?story_fbid=1102491773107109&id=537014242988201" >Coupe du nord ouest de karaté</a></p>
                                    <span class="m_date">21 Mars, 2016</span>
                                </div>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row about">
                    <div class="col-md-8">
                        <h3 class="m_2">Gallery</h3>
                        <div id="ca-container" class="ca-container">
                            <div class="ca-wrapper">
                                <div class="ca-item ca-item-1">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon1"> </div>
                                    </div>
                                </div>
                                <div class="ca-item ca-item-2">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon2"> </div>
                                    </div>
                                </div>
                                <div class="ca-item ca-item-3">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon3"> </div>
                                    </div>
                                </div>
                                <div class="ca-item ca-item-4">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon4"> </div>
                                    </div>
                                </div>
                                <div class="ca-item ca-item-5">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon5"> </div>
                                    </div>
                                </div>
                                <div class="ca-item ca-item-6">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon6"> </div>
                                    </div>
                                </div>
                                <div class="ca-item ca-item-7">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon7"> </div>
                                    </div>
                                </div>
                                <div class="ca-item ca-item-8">
                                    <div class="ca-item-main">
                                        <div class="ca-icon"> </div>
                                        <div class="ca-icon"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#ca-container').contentcarousel();
                        </script>
                    </div>
                  
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="map">
            <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Tunisia&amp;aq=0&amp;oq=un&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=Tunisia+Siliana&amp;ll=55.378051,-3.435973&amp;spn=135.795411,68.554687&amp;t=m&amp;z=2&amp;output=embed"> </iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Tunisia+Siliana&amp;aq=0&amp;oq=un&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=United+Kingdom&amp;ll=55.378051,-3.435973&amp;spn=135.795411,68.554687&amp;t=m&amp;z=2" style="color:#666;font-size:12px;text-align:left"> </a></small>
            <div class="opening_hours">
                <ul class="times">
                    <h3>Opening <span class="opening">Hours</span></h3>
                    <li><i class="calender"> </i><span class="week">Monday</span><div class="hours">h.8:00-h.22:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week">Tuesday</span><div class="hours">h.8:00-h.22:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week">Wednesday</span><div class="hours">h.8:00-h.22:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week">Thrusday</span><div class="hours">h.8:00-h.22:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week">Friday</span><div class="hours">h.8:00-h.22:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week">Saturday</span><div class="hours">h.8:00-h.22:00</div>  <div class="clear"></div></li>
                    <li><i class="calender"> </i><span class="week">Sunday</span><div class="hours">h.8:00-h.22:00</div>  <div class="clear"></div></li>
                    <p>Call us for any additional information</p>
                    <h4>Enjoy it!</h4>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row section group">
                    <div class="col-md-4">
                        <h4 class="m_7">Newsletter Signup</h4>
                        <p class="m_8">Subscribe to our newsletter and receive hottest news.</p>
                        <form class="subscribe">
                            <input type="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                 this.value = 'Insert Email';
                                             }">
                        </form>
                        <div class="subscribe1">
                            <a href="#">Submit Email<i class="but_arrow"> </i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="f-logo">
                            <img src="{{ asset('bundles/oxygensalledesport/images/logo.png') }}" alt=""/>
                        </div>
                        <p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">+216 99 891 600</span></p>
                        <p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">+216 26 655 225</span></p>
                    </div>
                 
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social">	
                    <ul>	
                           <li class="facebook"><a target="_blank" href="https://www.facebook.com/Oxygen-Fitness-Siliana-537014242988201/?fref=ts" ><span> </span></a></li>						
                 </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </body>
</html>
