<!DOCTYPE HTML>
<html>
<head>
<title>Free Gym Website Template | About :: w3layouts</title>
<link href="{{ asset('bundles/oxygensalledesport/css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ asset('bundles/oxygensalledesport/css/style.css') }}" rel='stylesheet' type='text/css' />
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{{ asset('bundles/oxygensalledesport/js/jquery.min.js') }}"></script>
<!-- grid-slider -->
<script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/jquery.mousewheel.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/jquery.contentcarousel.js') }}"></script>
<!-- //grid-slider -->
<!---calender-style---->
<link rel="stylesheet" href="{{ asset('bundles/oxygensalledesport/css/jquery-ui.css') }}" />
<!---//calender-style---->				  
</head>
<body>
<!-- start header_bottom -->
	  <div class="header-bottom">
		 <div class="container">
			<div class="header-bottom_left">
				<i class="phone"> </i><span>{{ app.user.email }}</span>
			</div>
			<div class="social">	
                             <ul>	
                                 <li class="active"><a href="#"><span>{{ app.user.username }} </span></a></li>	
                            </ul>
                        </div>
		   <div class="clear"></div>
		</div>
	  </div>
	  <!-- start menu -->
    <div class="menu">
	  <div class="container">
		 <div class="logo">
			<a href="{{ path('oxygen_salle_de_sport_homepage') }}"><img src="{{ asset('bundles/oxygensalledesport/images/logo.png') }}" alt=""/></a>
		 </div>
		 <div class="h_menu4"><!-- start h_menu4 -->
		   <a class="toggleMenu" href="#">Menu</a>
			 <ul class="nav">
			   <li><a href="{{ path('oxygen_salle_de_sport_homepage') }}">Home</a></li>
			   <li><a href="{{ path('oxygen_salle_de_sport_profile_add_new_trainer') }}">Add Trainers</a></li>
			   <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
			</ul>
			  <script type="text/javascript" src="{{ asset('bundles/oxygensalledesport/js/nav.js') }}"></script>
		  </div><!-- end h_menu4 -->

                  <div class="col-md-7 content_left_text">
                      {% for user in trainers %}
                          <h3>{{ user.username }}</h3>
                          <p>{{ user.email }}</p>
                      {% endfor %}
                  </div>
                  <div class="clear">{% block newUserform %}{% endblock %}</div>
          </div>
	</div>
</body>
</html>